@mixin branding {
  .menu-home {
    font-family: $header-font-family
  }
  .menu-home > a {
    padding: $menu-item-padding;
  }
  .menu.numbered {
    counter-reset:li;
  }
  .menu.numbered > li > a:before {
    content:counter(li) ".";
    counter-increment:li;
    padding-right:.2em;
  }
  .author {
    font-size: .875em;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: $paragraph-margin-bottom;
  }
  .intro-page {
    height: 100vh;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
  }
  .intro-page.active {
    opacity: 1;
    pointer-events: auto;
  }
  .intro-content {
    margin-bottom: 10em;
    z-index: 2;
  }
  .intro-header {
    margin-bottom: 2 * $paragraph-margin-bottom;
  }
  .button {
    font-weight: 400;
    font-family: $body-font-family;
    text-transform: uppercase;
  }
  .button.cta {
    padding-right: 4em;
    padding-left: 4em;
  }
  .svg-fullscreen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .svg-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0; //-1;
  }
  .painting-step {
    fill: none;
  }
  .painting-step rect.outlined {
    stroke: white;
    stroke-width: 3;
  }
  .camera-frame {
    fill: none;
  }
  .painting {
    opacity: 1;
    transition: opacity 1s;
  }
  .painting.inactive {
    opacity: 0;
    pointer-events: none;
  }
  .overlay {
    bottom: 40px;
    right: 40px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
  }
  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  .tour.card h1 {
    font-family: $body-font-family;
    font-size: .875em;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
  }
}
