@mixin branding {
  #navbar.bottom-bar {
    background-color: rgba($black, .5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0;
  }
  .top-bar-title {
    margin-left: 1rem;
    margin-right: .5rem;
  }
  .menu-home {
    font-family: $header-font-family;
  }
  .menu-home>a {
    padding: $menu-item-padding;
  }
  .menu.numbered {
    counter-reset: li;
  }
  .menu.numbered>li>a:before {
    content: counter(li) ".";
    counter-increment: li;
    padding-right: .2em;
  }
  .author {
    font-size: .875em;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: $paragraph-margin-bottom;
  }
  .intro-page {
    height: 100vh;
    opacity: 0;
    transition: opacity 1s, visibility 1s;
    visibility: hidden;
    pointer-events: none;
  }
  .intro-page.active {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .intro-content {
    margin-bottom: 10em;
    z-index: 2;
  }
  .intro-header {
    margin-bottom: 2 * $paragraph-margin-bottom;
  }
  .button {
    font-weight: 400;
    font-family: $body-font-family;
    text-transform: uppercase;
  }
  .button.cta {
    padding-right: 4em;
    padding-left: 4em;
  }
  .svg-fullscreen {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .svg-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(0);
    z-index: 0; //-1;
  }
  .painting-bounds {
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
  }
  .painting-bounds.active {
    visibility: visible;
    opacity: 1;
  }
  .bounds-display-container {
    fill: none;
  }
  .painting-step .outlined {
    stroke: white;
  }
  .camera-frame {
    fill: none;
  }

  .overlay {
    bottom: 40px;
    right: 40px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
    pointer-events: none;
  }
  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  .tour.card h1 {
    font-family: $body-font-family;
    font-size: .875em;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
  }
  text {
    font-family: $body-font-family;
    fill: currentColor;
    font-size: 1em;
  }
  text .em {
    font-style: italic;
  }
  text .strong {
    font-weight: $global-weight-bold;
  }
  text .small {
    font-size: $small-font-size;
  }
  text .header {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    color: $header-color;
  }
  .painting {
    opacity: 1;
    transition: opacity 1s;
    cursor: pointer;
    transform: translateZ(0);
  }
  .painting.inactive {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }
  .painting.active {
    cursor: move;
    cursor: grab;
  }
  .base-container {
    opacity: 1;
    transition: opacity 1s;
  }
  .base-container.hidden {
    opacity: 0;
  }
  .painting-blur {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
  }
  .painting-blur.active {
    opacity: 1;
    visibility: visible;
  }
  .painting-blur-base {
    // filter: url(#filter-painting-blur);
  }
  .intro-page.active ~ .svg-container .painting {
    cursor: auto;
  }
  .tour-object {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }
  .tour-object.active {
    opacity: 1;
    visibility: visible;
  }
  // g.painting.active:active {
  //   cursor: grabbing;
  // } TODO: implement grabbing
  .painting-ui-position-container {
    transform: translate(30em, 12em);
    transition: transform 1s;
  }
  .painting.active .painting-ui-position-container {
    transform: translate(2em, 6em);
  }
  // .painting-ui-container > .info > tspan {
  // }
  .painting-ui-container>.info>.name {
    font-family: $header-alt-font-family;
    font-size: 2.5rem;
    font-style: italic;
  }
  .painting-ui-container>.info>.painter {
    font-size: .875em;
    text-transform: uppercase;
  }
  .painting-ui-container .divider {
    stroke: $dark-gray;
    stroke-width: 1px;
  }
  .painting-right.edge {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1s, visibility 1s;
  }
  .painting-tour-container.active+.painting-right-edge {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .painting .painting-ui-contents-container {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s, visibility 1s;
  }
  .painting.active .painting-ui-contents-container {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
  .painting-ui-contents-container .contents-entry {
    font-size: 1.125em;
    cursor: pointer!important;
  }

  .prevent-zoom.reset-cursor {
    cursor: auto;
  }

  .grabbing {
    cursor: grabbing!important;
  }
}
